version: "3.8"

services:
  db:
    image: postgres:18
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: my_app_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql  
    networks:
      - my_network

  app:
    build: .
    container_name: my-node-app
    restart: always
    ports:
      - "3003:3003"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    working_dir: /app
    command: ["npm", "start"]
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
